.container {
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    .post {
        margin: 10px;
    }

    .card {
        border: 2px dotted;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
